form{
  margin: 5%;
  
}
.p-float-label {
  display: block;
  position: relative;
  margin: 25px;
  margin-bottom:10px ;
}
.p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 250px;
}

.p-float-label:has(.p-inputwrapper-focus) label,.p-float-label:has(input.p-filled) label,.p-float-label:has(.p-inputwrapper-filled) label {
  top: -.75rem;
  font-size: 12px;
  font-weight: 700;
  left: 5px;
}
.frm-container{
  width: 20%;
  text-align: center;
}